body {
  min-height: 100vh;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}
.direction {
  flex-direction: column;
}
.align-items {
  align-items: center;
}

.justify-content {
  justify-content: center;
}

.wrapper {
  background-color: #fff;
  max-width: 1297px;
  width: 100%;
  margin: 0 auto;
}

.full-height {
  height: 100vh;
}

.fullWidth {
  width: 100%;
}
